<div class="col-lg-6">
  <div class="curso">
    <h5 class="titulo">LISTADO DE CURSOS</h5>
    <Table class="table">
      <tbody>
        <tr *ngFor="let curso of listaCursos; let j = index">
          <td>{{ curso.nombre }}</td>
          <td>{{ curso.descripcion }}</td>
          <td>{{ curso.fechaDesde }}</td>
          <td>{{ curso.fechaHasta }}</td>
          <td>{{ curso.capacidad }}</td>
          <td>
            <i class="fa-solid fa-pen-to-square text-info"></i>
          </td>
          <td>
            <i
              (click)="eliminarCurso(j)"
              class="fa-solid fa-trash-can text-danger"
            ></i>
          </td>
        </tr>
      </tbody>
    </Table>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
