<h1> CURSOS E INSCRIPCIONES</h1>
<nav>
  <a
    class="button"
    routerLink="/lista-cursos"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    lista cursos
  </a>
  |
  <a
    class="button"
    routerLink="/form-cursos"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    form-cursos
  </a>
  <a
    class="button"
    routerLink="/form-inscripciones"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    form-inscripcion
  </a>
  |
  <a
    class="button"
    routerLink="/lista-personas"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    lista personas
  </a>
  
</nav>
<router-outlet></router-outlet>

<div style="display: none;">
  <!-- This HTML represents the initial state for the tutorial. It is not intended to appear in the app. -->
  <app-lista-cursos></app-lista-cursos>
  <app-form-cursos></app-form-cursos>
  <app-form-inscripciones></app-form-inscripciones>
  <app-lista-personas></app-lista-personas>
  
  <!-- This HTML snippet is for when the user first adds the routerlink navigation. -->
  <nav>
    <a class="button" routerLink="/lista-cursos">lista cursos</a> |
    <a class="button" routerLink="/form-cursos">formulario cursos</a>
    <a class="button" routerLink="/form-inscripciones">formulario inscripcion</a> |
    <a class="button" routerLink="/lista-personas">lista personas</a> 
  </nav>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
